* {
    font-family: 'Quicksand', 'Roboto', 'Arial', sans-serif;
    -webkit-user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #2b2b2b;
}

header {
    background-color: #343a40;
    padding: 16px;
}

h1 {
    color: #00a4dd;
    font-size: 42px;
    margin: 0 auto;
    cursor: pointer;
    display: inline-block;
}

h1 > span {
    font-size: 24px;
}

main {
	text-align: center;
	padding: 0;
	margin: 0 auto;
	height: 85%;
}

aside {
    position: absolute;
    width: 200px;
    height: 100%;
    left: -184px;
    z-index: 1;
    transition: all .5s ease;
    background-color: #3b3b3b;
    height: calc(100% - 80px);
}

aside a {
    color: #00a4dd;
    font-size: 20px;
    display: block;
    text-decoration: none;
    text-align: right;
    padding: 10px 16px;
    cursor: pointer;
}

aside a:hover {
    background-color: #303030;
}

.submenu > a {
	padding: 10px 32px;
}

aside > div {
	display: hidden;
}

#controles {
    display: flex;
    justify-content: center;
    background: none;
    margin-top: 10px;
}

.botao-controle {
    cursor: pointer;
    outline: none;
    background: none;
    border: 1px solid #00a4dd;
    color: #00a4dd;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    transition: all .2s ease;
}

.botao-controle:hover {
    color: white;
    background: #00a4dd;
}

#log {
	text-align: center;
	color: #00a4dd;
	font-size: 24px;
}

#log > span {
	color: white;
}

#tabuleiro {
	display: grid;
	margin: auto;
	width: 75%;
	height: 75%;
}

.casa {
	border-style: solid;
	border-color: #00a4dd;
	border-width: 3px 0px 0px 3px;
	background-color: #343a40;
	background-size: cover;
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	transition: opacity .3s ease;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.casa > span {
	position: absolute;
	color: #00a4dd;
	pointer-events: none;
	opacity: 0;
	transition: opacity .2s ease;
}

h2 {
	text-align: center;
}

.janela-jogador {
    position: absolute;
    background-color: #2b2b2b;
    padding: 20px;
    color: white;
    border: 2px solid #00a4dd;
    top: 300px;
}

#cartas{
	float: right;
	width: 250px;
	display: flex;
    position: relative;
    left: 0px;
	flex-direction: column;
}

.carta{
	width: 250px;
	height: 20%;
	/*border: 1px solid blue;*/
	background-color: #44557c;
	margin-bottom: 2px;
}

.neutra{
	color: white;
	font-weight: bold;
}

.molhada{
	color: #42b0f4;
	font-weight: bold;
}

.fogo{
	color: #e80000;
	font-weight: bold;
}

#cartas > h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    color: #00a4dd;
    font-family: 'Roboto', 'Arial', sans-serif;
    height: 30px;
	width: 100%;
}

h3{
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    font-size: 25px;
    margin: 5px 0px 5px 0px;
}

header > div{
	float: right;
	color: white;
}

header img{
	height: 45px;
    margin-left: 15px;
    cursor: pointer;
}

#exibicao{
    height: 60%;
    position: relative;
    flex-direction: column;
	z-index: 0;
	height: 100%;
}
#exibicao img{
    height: 200px;
	
}
#exibicao * {
    margin: 20px;
}

#exibicao h2, #h2Field{
	color: #00a4dd;
	font-family: 'Times New Roman';
	font-size: 40px;
	font-style: italic;
	cursor: text;
    display: inline;
	background-color: #2b2b2b;
	border: none;
	text-align: center;
	font-weight: bold;
}

#h2Field {
    position: relative;
    bottom: 21px;
	width: 20%;
}

#exibicao p, #pField{
	color: white;
    margin: 0 250px;
	cursor: text;
    display: inline;
	background-color: #2b2b2b;
	border: none;
	text-align: center;
	max-width: 15%;
}

#exibicao div{
	position: relative;
}

#exibicao button {
	position: absolute;
    background-color: #2b2b2b;
    border: none;
    color: #00a4dd;
}

#editImage {
    top: 180px;
    left: 55%;
}

#editBio {
    top: -18px;
    right: 440px;
}