* {
    font-family: 'Roboto', 'Arial', sans-serif;
    -webkit-user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #2b2b2b;
}

header {
    background-color: #343a40;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #00a4dd;
    font-size: 42px;
    margin: 0;
    cursor: pointer;
}

h1 > span {
    font-size: 24px;
}

header > h2 {
    margin: 0;
    align-self: flex-end;
}

main {
	text-align: center;
	padding: 0;
	margin: 0 auto;
	height: 85%;
}

#menu {
    position: absolute;
    width: 200px;
    height: 100%;
    left: -184px;
    z-index: 1;
    transition: all .5s ease;
    background-color: #3b3b3b;
    height: calc(100% - 80px);
}

#menu a {
    color: #00a4dd;
    font-size: 20px;
    display: block;
    text-decoration: none;
    text-align: right;
    padding: 10px 16px;
    cursor: pointer;
}

#menu a:hover {
    background-color: #303030;
}

.submenu > a {
	padding: 10px 32px;
}

#menu > div {
	display: hidden;
}

#controles {
    display: flex;
    justify-content: center;
    background: none;
}

.botao-controle {
    cursor: pointer;
    outline: none;
    background: none;
    border: 2px solid #00a4dd;
    margin: 10px 10px 0 0;
    color: #00a4dd;
    padding: 10px;
    font-size: 18px;
    transition: all .2s ease;
}

.botao-controle:hover {
    color: white;
    background: #00a4dd;
}

#log {
	text-align: center;
	color: #00a4dd;
	font-size: 24px;
}

#log > span {
	color: white;
}

#tabuleiro {
	display: grid;
    margin: auto;
    width: 75%;
    height: 75%;
}

.casa {
	border-style: solid;
	border-color: #00a4dd;
	border-width: 3px 0px 0px 3px;
	background-color: #343a40;
	background-size: cover;
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	transition: opacity .3s ease;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.casa > span {
	position: absolute;
	color: #00a4dd;
	pointer-events: none;
	opacity: 0;
	transition: opacity .2s ease;
}

#modos-personalizados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-modo-personalizado {
    margin-bottom: 10px;
}

.jogar-modo-personalizado {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    text-align: left;
    background: none;
    outline: none;
    color: #00a4dd;
    border: 2px solid #00a4dd;
    cursor: pointer;
}

.apagar-modo-personalizado {
    padding: 10px;
    font-size: 16px;
    color: #00a4dd;
    background: none;
    border-width: 2px 2px 2px 0;
    border-style: solid;
    border-color: #00a4dd;
    cursor: pointer;
}

.jogar-modo-personalizado:hover, .apagar-modo-personalizado:hover {
    color: white;
    background-color: #00a4dd;
}

#configuracoes-modo-personalizado {
    margin-top: 10px;
}

#configuracoes-modo-personalizado > label {
    color: #00a4dd;
    border: 2px solid #00a4dd;
    padding-left: 5px;;
    border-radius: 0px;
    display: inline-block;
    transition: all .2s ease;
    cursor: pointer;
    margin: 10px 10px 0 0;
    font-size: 16px;
}

#configuracoes-modo-personalizado input, #configuracoes-modo-personalizado select {
    outline: none;
    background: none;
    border-color: #00a4dd;
    border-style: solid;
    border-width: 0 0 0 2px;
    color: #00a4dd;
    padding: 10px;
    cursor: default;
    font-size: 16px;
}

#configuracoes-modo-personalizado button {
    outline: none;
    background: none;
    border: 2px solid #00a4dd;
    color: #00a4dd;
    padding: 10px;
    cursor: default;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease;
}

#configuracoes-modo-personalizado button:hover {
    background-color: #00a4dd;
    color: white;
}

h2 {
    text-align: center;
    color: #00a4dd;
}

.janela-jogador {
    position: absolute;
    background-color: #2b2b2b;
    padding: 20px;
    color: white;
    border: 2px solid #00a4dd;
    top: 300px;
    box-sizing: border-box;
    border-radius: 10px;
}

.janela-jogador > select {
    background: none;
    color: #00a4dd;
    border: 2px solid #00a4dd;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.janela-jogador > select:hover {
    background-color: #00a4dd;
    color: white;
}

h3{
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    font-size: 25px;
    margin: 5px 0px 5px 0px;
}

#exibicao{
    height: 60%;
    position: relative;
    flex-direction: column;
	z-index: 0;
	height: 100%;
}
#perfilImg {
    height: 200px;
	
}
#exibicao > *,#exibicao > * > *  {
    margin: 20px;
}

#exibicao h2, #h2Field{
	color: #00a4dd;
	font-family: 'Times New Roman';
	font-size: 40px;
	font-style: italic;
	cursor: text;
    display: inline;
	background-color: #2b2b2b;
	border: none;
	text-align: center;
	font-weight: bold;
}

#h2Field {
	width: 20%;
	outline: none;
}

#exibicao p, #pField{
	color: white;
    margin: 0 5px;
	cursor: text;
    display: inline;
	background-color: #2b2b2b;
	border: none;
	text-align: center;
	font-size: 15px;
	outline: none;
}

#exibicao div{
	position: relative;
}

#exibicao button {
	position: relative;
    background-color: #2b2b2b;
    color: #00a4dd;
    border: none;
	font-size: 30px;
    outline: none;
    cursor: pointer;
}

.pencil {
	height: 23px;
    margin: 2px;
    border: 2px solid #00a4dd;
	padding: 5px;
    border-radius: 5px;
}
