* {
    font-family: 'Quicksand', 'Roboto', 'Arial', sans-serif;
    -webkit-user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #2b2b2b;
}

header {
    background-color: #343a40;
    padding: 16px;
}

h1 {
    color: #00a4dd;
    font-size: 42px;
    margin: 0 auto;
    cursor: pointer;
    display: inline-block;
}

aside {
    position: absolute;
    width: 200px;
    height: 100%;
    left: -184px;
    transition: all .5s ease;
    background-color: #3b3b3b;
    height: calc(100% - 80px);
}

aside a {
    color: #00a4dd;
    font-size: 20px;
    display: block;
    text-decoration: none;
    text-align: right;
    padding: 10px 16px;
    cursor: pointer;
}

aside a:hover {
    background-color: #303030;
}

.submenu > a {
	padding: 10px 32px;
}

aside > div {
	display: hidden;
}

#controles {
    display: flex;
    justify-content: center;
    background: none;
    margin-top: 10px;
}

.botao-controle {
    cursor: pointer;
    outline: none;
    background: none;
    border: 1px solid #00a4dd;
    color: #00a4dd;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    transition: all .2s ease;
}

.botao-controle:hover {
    color: white;
    background: #00a4dd;
}
