html, body {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right top, #a5a5a5, #7a7a7a);
}
h1 {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.casa {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	background-color: white;
	background-size: cover;
	cursor: pointer;
}
main {
	text-align: center;
}
#jogador1 {
	background-color: #212121;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
	padding: 10px;
	position: absolute;
	left: 0;
	top: 200px;
	color: white;
	font-family: 'Roboto', sans-serif;
}
#jogador2 {
	background-color: #212121;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 200px;
	color: white;
	font-family: 'Roboto', sans-serif;
}
#botao-reiniciar {
	display: block;
	margin: auto;
	color: white;
	outline: none;
	background-color: #212121;
	padding: 10px;
	border-width: 0;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	cursor: pointer;
}