.Game {
    margin-top: 10px;
}

.Game .Board {
    display: grid;
    grid-template-columns: repeat(var(--cols), auto);
    margin: auto;
}

@media (min-width: 450px) {
    .Board {
        width: calc(405px * var(--cols-relation));
        height: calc(405px * var(--rows-relation));
        font-size: 405px;
    }
    .Square {
        font-size: calc(100% / var(--max));
    }
}
@media (max-width: 450px) {
    .Board {
        width: calc(95vw * var(--cols-relation));
        height: calc(95vw * var(--rows-relation));
        font-size: 95vw;
    }
    .Square {
        font-size: calc(100% / var(--max));
    }
}

.Game .PlayersPanel,
.Game .ControlPanel {
    margin: 10px auto;
    display: block;
    text-align: center;
}

.Game button {
    border: 1px solid #00aaff;
    color: #00aaff;
    background: none;
    outline: none;
    cursor: pointer;
    transition: all .1s linear;
    font-size: 28px;
    padding: 5px;
}

.Game button:hover {
    background: #00aaff;
    color: white;
}