.Modal {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
    background-color: #202020;
    text-align: center;
    transition: all 250ms;
    box-shadow: 0 1px 5px black;    
}

.Modal:hover {
    box-shadow: 0 1px 10px black;
}

.Modal > p {
    font-size: 28px;
    color: #00aaff;
    padding: 10%;
}