.Custom {
    text-align: center;
    color: #00aaff;
}

.Custom h2 {
    font-size: 32px;
    margin: 5px;
}

.Custom h3 {
    font-size: 28px;
    margin: 5px;
}

.Custom form {
    display: inline-block;
    margin: 10px;
}

.Custom label {
    display: block;
    padding: 10px;
    text-align: left;
    font-size: 24px;
    background-color: #202020;
    box-shadow: 1px 1px 5px black;
}

@media (min-width: 450px) {
    .Custom label {
        width: 405px;
    }
}

@media (max-width: 450px) {
    .Custom label {
        width: 95%;
    }
}

.Custom label:hover {
    box-shadow: 1px 1px 10px black;
}

.Custom input,
.Custom select {
    font-size: 24px;
    background: none;
    color: white;
    text-align: right;
    text-align-last: right;
    width: 100%;
    outline: none;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #00aaff;
}

.Custom select option {
    direction: rtl;
    color: white;
    background-color: #202020;
}

.Custom input::-webkit-inner-spin-button, 
.Custom input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.Custom a {
    color: #00aaff;
    border: 2px solid #00aaff;
    font-size: 24px;
    padding: 10px 50px;
    display: inline-block;
    background: none;
    text-decoration: none;
    transition: all .1s linear;
}

.Custom a:hover {
    color: white;
    background-color: #00aaff;
}